.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    width: 400px;
    color: blue;
}

table {
    width: 400px;
}

.history-head {
    border-bottom: 2px solid black;
}

.history-row {
    border-top: 2px solid black;
}

.history-table {
    font-size: 20px;
    border: 2px solid black;
    border-collapse: collapse;
    background-color: green;
    color: black;
    overflow-x: auto;
}

input[type="button"] {
    font-size: 20px;
    background-color: yellow;
    color: black;
    border: solid black 2px;
    width: 100%
}

input[type="text"] {
    font-size: 20px;
    background-color: white;
    border: solid black 2px;
    width: 98%
}